aenum
anndata
biopython
black
bokeh
cachetools
choosegpu
crosseval
crowelab-pyir
Cython
dask
distributed
dtreeviz
enum-mixins
enumchoice
environs
extendanything
fastcluster
fastparquet
feature-engine
flatten_json
frozendict
genetools
ipywidgets
joblib
JSON-log-formatter
jupyter-server-proxy
jupyterlab-code-formatter
jupytext
kdict
log-with-context
lz4
matplotlib
more-itertools
multiclass-metrics
notebooklog
numba
numpy
openpyxl
optuna
pandas
pre-commit
protobuf
psutil
pyarrow
pydot
pydotplus
pytest-cov
pytest-lazy-fixture
pytest-mock
pytest-order
pytest
python-slugify
regressout
scanpy[leiden, louvain]
scikit-learn
scikit-learn-extra
scipy
scratchcache
seaborn
SentencePiece
sentinels
sentry-sdk
setuptools
shap
statannotations
static-class-property
StratifiedGroupKFoldRequiresGroups
-e git+https://github.com/maximz/summarynb.git@develop#egg=summarynb
tcrdist3
tensorboardX
tensorflow
tqdm
transformers
typer[all]
types-cachetools
typing-extensions
umap-learn
xgboost
xgboost-label-encoding
